accounts-service/.settings/org.eclipse.jdt.core.prefs
.project
.settings/org.eclipse.m2e.core.prefs
accounts-service/.classpath
accounts-service/.settings/org.eclipse.m2e.core.prefs
transactions-service/.settings/org.eclipse.m2e.core.prefs
transactions-service/.settings/org.eclipse.jdt.core.prefs
transactions-service/.classpath
notifications-service/.settings/org.eclipse.jdt.core.prefs
notifications-service/.settings/org.eclipse.m2e.core.prefs
notifications-service/.classpath
